
@{
    ViewData["Title"] = "ConfirmForgetPassword";
    Layout = "~/Views/Layout/LoginLayout.cshtml";
}

<img src="../assets/images/brand/logo.png" class="header-brand-img mobile-view mb-4" alt="Aronox logo">
<img src="../assets/images/brand/logo-dark.png" class="header-brand-img mobile dark-view mb-4" alt="Aronox logo">
<div class="col-xl-7 col-lg-6 col-md-12">
    <img src="../assets/images/svgs/forgot.svg" class="construction-img mt-7 h-300  " alt="">
</div>
<div class="col-xl-5  col-lg-6 col-md-12 ">
    <div class="col-lg-11 ">
        <img src="../assets/images/brand/logo.png" class="header-brand-img light-view mb-4" alt="Aronox logo">
        <img src="../assets/images/brand/logo-dark.png" class="header-brand-img dark-view mb-4" alt="Aronox logo">
        <div class="wrapper wrapper2 p-15">
            Password Has Been Sent ,Check Your <a href="https://mail.google.com/mail/u/0/?pli=1#inbox" target="_blank" class="btn btn-primary">Inbox</a>
        </div>
        <div class="text-center text-muted mt-3 ">
            Forget it, <a asp-controller="Account" asp-action="Login">send me back</a> to the sign in screen.
        </div>
    </div>
</div>