
@{
    ViewData["Title"] = "ConfirmRestPassword";
    Layout = "~/Views/Layout/LoginLayout.cshtml";
}

<img src="../assets/images/brand/logo.png" class="header-brand-img mobile-view mb-4" alt="Aronox logo">
<img src="../assets/images/brand/logo-dark.png" class="header-brand-img mobile dark-view mb-4" alt="Aronox logo">
<div class="col-xl-7 col-lg-6 col-md-12">
    <img src="../assets/images/svgs/reg.svg" class="construction-img mb-7 h-480  mt-5 mt-xl-0" alt="">
</div>
<div class="col-xl-5  col-lg-6 col-md-12 ">
    <div class="col-lg-11">
        <img src="../assets/images/brand/logo.png" class="header-brand-img light-view mb-4" alt="Aronox logo">
        <img src="../assets/images/brand/logo-dark.png" class="header-brand-img dark-view mb-4" alt="Aronox logo">
        <div class="wrapper wrapper2 p-15">
            Password Has Been Rest 
        </div>
        <div class="text-center text-muted mt-3 ">
           <a asp-controller="Account" asp-action="Login">send me back</a> to the sign in screen.
        </div>
    </div>
    </div>

