
@{
    ViewData["Title"] = "RestPassword";
    Layout = "~/Views/Layout/LoginLayout.cshtml";
}
@model RestPasswordVM
<img src="../assets/images/brand/logo.png" class="header-brand-img mobile-view mb-4" alt="Aronox logo">
<img src="../assets/images/brand/logo-dark.png" class="header-brand-img mobile dark-view mb-4" alt="Aronox logo">
<div class="col-xl-7 col-lg-6 col-md-12">
    <img src="../assets/images/svgs/reg.svg" class="construction-img mb-7 h-480  mt-5 mt-xl-0" alt="">
</div>
<div class="col-xl-5  col-lg-6 col-md-12 ">
    <div class="col-lg-11">
        <img src="../assets/images/brand/logo.png" class="header-brand-img light-view mb-4" alt="Aronox logo">
        <img src="../assets/images/brand/logo-dark.png" class="header-brand-img dark-view mb-4" alt="Aronox logo">
        <div class="wrapper wrapper2">
            <form class="card-body" tabindex="500" asp-controller="Account" asp-action="RestPassword" method="post">
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Token" />


                <h2 class="mb-6 font-weight-semibold">Rest Password</h2>
     
                <div class="input-group mb-4">
                    <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                </div>
                <span asp-validation-for="Password"></span>
                <div class="input-group mb-4">
                    <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                    <input type="password" class="form-control" placeholder="ConfirmPassword" asp-for="ConfirmPassword">
                </div>
                <span asp-validation-for="ConfirmPassword"></span>
                <div class="submit">
                    <button type="submit" class="btn btn-primary btn-block">Rest</button>
                </div>
              @*  <p class=" mb-0">Already have account?<a asp-controller="Registration" asp-action="Login" class="text-primary ml-1">Sign In</a></p>*@

            </form>
            @*<div class="card-body social-icons border-top">
                <a class="btn  btn-social btn-fb mr-2"><i class="fa fa-facebook"></i> </a>
                <a class="btn  btn-social btn-googleplus mr-2"><i class="fa fa-google-plus"></i></a>
                <a class="btn  btn-social btn-twitter-transparant  "><i class="fa fa-twitter"></i></a>
            </div>*@
        </div>
    </div>
</div>
