
@{
    ViewData["Title"] = "Terms";
    Layout = "~/Views/Layout/LoginLayout.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h4><b>Terms and Conditions</b></h4>
            <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
            <ul>
                <li><i class="fa fa-angle-double-right"></i> ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores </li>
                <li><i class="fa fa-angle-double-right"></i> quas molestias excepturi sint occaecati cupiditate non provident</li>
                <li><i class="fa fa-angle-double-right"></i> Nam libero tempore, cum soluta nobis est eligendi optio cumque</li>
                <li><i class="fa fa-angle-double-right"></i> Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates</li>
                <li><i class="fa fa-angle-double-right"></i> repudiandae sint et molestiae non recusandae itaque earum rerum hic tenetur a sapiente delectus</li>
                <li><i class="fa fa-angle-double-right"></i> ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</li>
            </ul>
        </div>
    </div>
</div>