@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<!-- Start Our Team -->







<div class="our-team text-center pt-5 pb-5 w-100 mt-5 mb-5 ">
    <div class="container pb-5 pt-5">
        <h2 class="fw-bold">Our Services</h2>

        <p class="text-black-50 mb-5 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ratione deserunt rerum, vitae fuga voluptatem.</p>
        <div class="row">
            <div class="col-md-7 col-lg-4">
                <div class="box   bg-white">
                    <img class="img-fluid" src="~/imgs/team-1.png" alt="">
                    <a asp-action="Index" asp-controller="Reception" style="cursor:pointer ;text-decoration:none">
                        <h4 class="p-3 text-light">
                            Reception
                        </h4>
                    </a>
                    <blockquote class="text-black-50 p-2">
                        Lorem ipsum dolor sit amet.
                    </blockquote>
                </div>
            </div>
            <div class="col-md-7 col-lg-4">
                <div class="box   bg-white">
                    <img class="img-fluid" src="~/imgs/team-2.png" alt="">
                    <a asp-action="Index" asp-controller="Customer" style="cursor:pointer ;text-decoration:none">
                        <h4 class="p-3 text-light">
                            Customers
                        </h4>
                    </a>
                    <blockquote class="text-black-50 p-2">
                        Lorem ipsum dolor sit amet.
                    </blockquote>
                </div>
            </div>
            <div class="col-md-7 col-lg-4">
                <div class="box   bg-white">
                    <img class="img-fluid" src="~/imgs/team-3.png" alt="">
                    <a asp-action="Index" asp-controller="Rooms" style="cursor:pointer ;text-decoration:none">
                        <h4 class="p-3 text-light">
                            Rooms
                        </h4>
                    </a>
                    <blockquote class="text-black-50 p-2">
                        Lorem ipsum dolor sit amet.
                    </blockquote>
                </div>
            </div>
            <div class="col-md-7 col-lg-4">
                <div class="box   bg-white">
                    <img class="img-fluid" src="~/imgs/team-4.png" alt="">
                    <a asp-action="Index" asp-controller="Revirsation" style="cursor:pointer ;text-decoration:none">
                        <h4 class="p-3 text-light">
                            Revirsations
                        </h4>
                    </a>
                    <blockquote class="text-black-50 p-2">
                        Lorem ipsum dolor sit amet.
                    </blockquote>
                </div>
            </div>
            <div class="col-md-7 col-lg-4">
                <div class="box   bg-white">
                    <img class="img-fluid" src="~/imgs/team-4.png" alt="">

                    <a asp-action="Index" asp-controller="Cleaners" style="cursor:pointer ;text-decoration:none">
                        <h4 class="p-3 text-light">
                            Cleaners
                        </h4>
                    </a>
                    <blockquote class="text-black-50 p-2">
                        Lorem ipsum dolor sit amet.
                    </blockquote>
                </div>
            </div>
            <div class="col-md-7 col-lg-4">
                <div class="box   bg-white">
                    <img class="img-fluid" src="~/imgs/team-4.png" alt="">
                    <a asp-action="Index" asp-controller="Food" style="cursor:pointer ;text-decoration:none">
                        <h4 class="p-3 text-light">
                            Foods
                        </h4>
                    </a>
                    <blockquote class="text-black-50 p-2">
                        Lorem ipsum dolor sit amet.
                    </blockquote>
                </div>
            </div>

        </div>
    </div>
</div>
<br />


<!-- End Our Team -->