
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
 @model Food
<div class="wrapper">


    <div class="container">

        <div class="row g-1">

            <div class="col-md-3">

                <div class="card p-3">

                    <div class="text-center">

                        <img src="https://i.imgur.com/w2rCsEw.jpg" width="200">

                    </div>

                    <div class="product-details">


                        <span class="font-weight-bold d-block">$ 7.00</span>
                        <span>Red Redish</span>


                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                        </div>

                        <div class="weight">

                            <small>1 piece 2.5kg</small>

                        </div>

                    </div>



                </div>


            </div>

            <div class="col-md-3">

                <div class="card p-3">

                    <div class="text-center">

                        <img src="https://i.imgur.com/ZRUetRF.jpg" width="200">

                    </div>

                    <div class="product-details">


                        <span class="font-weight-bold d-block">$ 7.00</span>
                        <span>Red Redish</span>


                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                        </div>

                        <div class="weight">

                            <small>1 piece 2.5kg</small>

                        </div>

                    </div>



                </div>


            </div><div class="col-md-3">

                <div class="card p-3">

                    <div class="text-center">

                        <img src="https://i.imgur.com/0M7pldG.jpg" width="200">

                    </div>

                    <div class="product-details">


                        <span class="font-weight-bold d-block">$ 7.00</span>
                        <span>Red Redish</span>


                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                        </div>

                        <div class="weight">

                            <small>1 piece 2.5kg</small>

                        </div>

                    </div>



                </div>


            </div><div class="col-md-3">

                <div class="card p-3">

                    <div class="text-center">

                        <img src="https://i.imgur.com/emb60L5.jpg" width="200">

                    </div>

                    <div class="product-details">


                        <span class="font-weight-bold d-block">$ 7.00</span>
                        <span>Red Redish</span>


                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                        </div>

                        <div class="weight">

                            <small>20 piece 2.5kg</small>

                        </div>

                    </div>



                </div>


            </div>



        </div>

    </div>


</div>

@section Sty{ 
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
}
@section va{ 
    <script src="~/css/JavaScript.js"></script>
}