
@model ReceptionVM
@{
    ViewData["Title"] = "Update";
}
<h1>Welcome To Reception </h1>
<form asp-controller="Reception" asp-action="Update" class="form-group">


    <div asp-validation-summary="All" class="text-danger font-bold"></div>
<label asp-for="Name">Employee Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger font-bold"></span>
    <br />

    <label asp-for="Salary">Employee Salary</label>
    <input type="text" class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger font-bold"></span>
    <br />

    <label asp-for="PhoneNumber">Employee Phone</label>
    <input type="text" class="form-control" asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber" class="text-danger font-bold"></span>
    <br />

    <label asp-for="Address">Employee Address</label>
    <input type="text" class="form-control" asp-for="Address" />
    <span asp-validation-for="Address" class="text-danger font-bold"></span>
    <br />

    <label asp-for="DOB">Date-Of-Birth</label>
    <input type="date" class="form-control" asp-for="DOB" />
    <span asp-validation-for="DOB" class="text-danger font-bold"></span>
    <br /> 
 

 
 @*   <select class="form-control" asp-for="DepartmentId" asp-items="(SelectList)ViewBag.DepartmentList">
        <option>Choose Department</option>
    </select>*@

    <div class="demo-checkbox">
        <input type="checkbox" asp-for="IsActive" checked="checked">
        <label asp-for="IsActive">IsActive</label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <center>
      
  <button type="submit" class="btn btn-success">Save</button>
  <button type="reset" class="btn btn-danger">Cancel</button>
  <a asp-action="index" asp-controller="Reception" class="btn btn-primary">Return</a>

 </center>
     </form>
      
@section Valdiation{
    <script src="~/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
